---
title: Middleman is Loaded
---
<% content_for :hero do %>
	<div class="hero">
	    <div class="hero-inner">
	        <div class="hero-copy">
	            <h1><span>S W</span><br>Designs.</h1>
	        </div>
	        <div class="mouse">
	            <span></span>
	        </div> 
	    </div>
	</div>
<% end %>


<div class="intro">

	<p>Webknit is a small design studio based in the Bay Area. We specialise in the design and implementation of great looking &amp; highly functional websites.</p>
	
	<a class="btn" href="/">Find out more</a>

</div>


